{% extends 'AcmeTomatomanBundle::layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}
    
    <form class="login" action="{{ path('login_check') }}" method="post">
        <div class="field">
            <label for="username">Username:</label><br/>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <div class="field">
            <label for="password">Password:</label><br/>
            <input type="password" id="password" name="_password" />
        </div>
        <input type="hidden" name="_target_path" value="/" />    
        <input type="submit" name="login" />
    </form>
{% endblock %}